body {
  width: 110vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.text {
  /* display: flex;
  align-items: center; */
  text-align: center;
  /* width: 600px;
  height: 300px; */
  position: absolute;

  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text p {
  font-size: 40px;
  padding: 0;
  margin: 0;
  font-weight: bold;
}
.text h4 {
  font-size: 24px;
  padding: 0;
  margin: 0;
}

.img {
  position: absolute;
  height: 20%;
  width: auto;
  z-index: 999;
}

.img1 {
  top: 5%;
  left: 5%;
  animation: circle1 30s linear infinite;
}

.img2 {
  top: 0%;
  left: 15%;
  animation: circle2 30s linear infinite;
}

.img3 {
  top: 0%;
  left: 55%;
  animation: circle3 40s linear infinite;
}

.img4 {
  top: -5%;
  left: 65%;
  animation: circle4 50s linear infinite;
}

.img5 {
  top: -4%;
  left: 85%;
  animation: circle1 70s linear infinite;
}

.img6 {
  top: 40%;
  right: 0%;
  animation: circle6 30s linear infinite;
}

.img7 {
  top: 80%;
  left: 90%;
  animation: circle7 50s linear infinite;
}

.img8 {
  top: 80%;
  left: 80%;
  animation: circle7 50s linear infinite;
}
.img9 {
  top: 80%;
  left: 50%;
  animation: circle7 50s linear infinite;
}
.img10 {
  top: 80%;
  left: 30%;
  animation: circle7 50s linear infinite;
}
.img11 {
  top: 80%;
  left: 5%;
  animation: circle7 50s linear infinite;
}
.img12 {
  top: 50%;
  left: 5%;
  animation: circle7 50s linear infinite;
}

@keyframes circle1 {
  from {
    transform: rotate(0deg) translate(-30px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(-30px) rotate(-360deg);
  }
}

@keyframes circle2 {
  from {
    transform: rotate(360deg) translate(-30px) rotate(-360deg);
  }
  to {
    transform: rotate(0deg) translate(-30px) rotate(0deg);
  }
}

@keyframes circle3 {
  from {
    transform: rotate(360deg) translate(-30px) rotate(-360deg);
  }
  to {
    transform: rotate(0deg) translate(-30px) rotate(0deg);
  }
}

@keyframes circle4 {
  from {
    transform: rotate(360deg) translate(-60px) rotate(-360deg);
  }
  to {
    transform: rotate(0deg) translate(-60px) rotate(0deg);
  }
}

@keyframes circle5 {
  from {
    transform: rotate(360deg) translate(-80px) rotate(-360deg);
  }
  to {
    transform: rotate(0deg) translate(-80px) rotate(0deg);
  }
}

@keyframes circle6 {
  from {
    transform: rotate(-360deg) translate(-30px) rotate(360deg);
  }
  to {
    transform: rotate(0deg) translate(-30px) rotate(0deg);
  }
}

@keyframes circle6 {
  from {
    transform: rotate(-360deg) translate(-50px) rotate(360deg);
  }
  to {
    transform: rotate(0deg) translate(-50px) rotate(0deg);
  }
}

@keyframes circle7 {
  from {
    transform: rotate(-360deg) translate(-50px) rotate(360deg);
  }
  to {
    transform: rotate(0deg) translate(-50px) rotate(0deg);
  }
}

@keyframes circle8 {
  from {
    transform: rotate(-360deg) translate(-50px) rotate(360deg);
  }
  to {
    transform: rotate(0deg) translate(-50px) rotate(0deg);
  }
}
